[Unit]
Description=Hello Service

[Service]
;User=root
ExecStart=python3 /home/soporte/PROCESOS/main.py
;Type=simple
WorkingDirectory=/home/soporte/PROCESOS/
Restart=always

[Install]
WantedBy=multi-user.target
